<div class="padding-site">
    
    <a href="/admin/articles" class="btn btn-secondary mb-3 mt-4">назад</a>
    <h3 class="mb-3">Новая статья</h3>

    <form action="/admin/newArticle" method="POST">

        <div class="row">
            <div class="col">
                <label for="title">title:</label>
                <input type="text" name="title" id="title" class="form-control" required value="{{ article.title }}">
            </div>
            <div class="col">
                <label for="image">изображение</label>
                <input type="text" name="image" value="{{ article.image }}" id="image" class="form-control">
            </div>
        </div>

        <div class="row">
            <div class="col">
                <label for="description">description:</label>
                <textarea name="description" id="description" cols="30" rows="2" class="form-control">{{ article.description }}</textarea>
            </div>
            <div class="col">
                <label for="title">keywords:</label>
                <textarea name="keywords" id="keywords" cols="30" rows="2" class="form-control">{{ article.keywords }}</textarea>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <label for="name">Заголовок:</label>
                <input type="text" name="name" value="{{ article.name }}" id="name" required class="form-control">
            </div>
            <div class="col">
                <label for="author">Автор</label>
                <input type="text" name="author" value="{{ article.author }}" id="author" class="form-control">
            </div>
        </div>
        <div>
            <label for="visibleText">Описание</label>
            <textarea name="visibleText" id="visibleText" cols="30" rows="5" class="form-control">{{ article.visibleText }}</textarea>
        </div>
        <div>
            <label for="fullText">Текст</label>
            <textarea name="fullText" id="fullText" cols="30" rows="8" class="form-control">{{ article.fullText }}</textarea>
        </div>
        
        
        <button type="submit" class="btn btn-primary mt-4 mb-5">Загрузить статью</button>
    </form>
    
</div>