    <article class="article">
        <h3 class="article__title">{{article.title}}</h3>
        <p class="article__text"><span class="article__author">{{this.author}}</span>
        <p class="article__text">{{text_1}}</p>
        <p class="article__text">{{text_2}}</p>
        <p class="article__text">{{this.text_3}}</p>
        <p class="article__text">{{this.text_4}}</p>
        <p class="article__text">{{this.text_5}}</p>
        <p class="article__text">{{this.text_6}}</p>
        <p class="article__text">{{this.text_7}}</p>
        <p class="article__text">{{this.text_8}}</p>
        <img src="../img/articles/{{this.imageUrl}}" alt="image">
    </article>