<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    {{#if norobots}}
      <meta name="robots" content="noindex, nofollow" />
    {{/if}}
    {{#if yandexMetrica}}
      <meta name="yandex-verification" content="4d94046ff169ef64" />
    {{/if}}
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{description}}" />
    <meta name="keywords" content="{{keywords}}" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{og_title}}" />
    <meta property="og:description" content="{{og_description}}" />
    <meta property="og:url" content="{{og_url}}" />
    <meta itemprop="image" content="https://vectorm8.ru/img/full_V9K85ULi.jpg" />
		<meta property="og:image" content="https://vectorm8.ru/img/full_V9K85ULi.jpg" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="og:type" content="website" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <link rel="apple-touch-icon" href="apple_favicon.png"/>
    {{#if bootstrap}}
      <link rel="stylesheet" href={{bootstrap}} integrity={{integrity}} crossorigin={{crossorigin}}>
    {{/if}}
    {{#if recaptcha}}
      <style>
        .grecaptcha-badge {
          display: none;
        }
      </style>
    {{/if}}
    <link rel="stylesheet" href='/fonts/font-awesome/css/font-awesome.min.css'>
    {{#if lightgallery}}
      <link rel="stylesheet" href="/dist/lightgallery.js/dist/css/lightgallery.min.css">
    {{/if}}
    <link rel='stylesheet' href='/stylesheets/style.css' />
    {{#if recaptcha}}
       <script src="https://www.google.com/recaptcha/api.js?render=6Lc3W9AZAAAAAKgnstFcIceY5qKCGBGI8KNOSbgu"></script>
    {{/if}}
    <script type="text/javascript" src="https://vk.com/js/api/openapi.js?168"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    {{#if yandexMetrica}}
      <script type="text/javascript" >
         (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
         m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
         (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
      
         ym(67696507, "init", {
              clickmap:true,
              trackLinks:true,
              accurateTrackBounce:true,
              webvisor:true
         });
      </script>
      <noscript><div><img src="https://mc.yandex.ru/watch/67696507" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    {{/if}}
  </head>
  <body>
    {{{body}}}
    {{#if recaptcha}}
      <script>
        grecaptcha.ready(function() {
            grecaptcha.execute('6Lc3W9AZAAAAAKgnstFcIceY5qKCGBGI8KNOSbgu', { action: 'homepage' }).then(function(token) {
              document.getElementById('g-recaptcha-response').value = token;
            });
        });
      </script>
    {{/if}}
    <script src="/javascripts/emptyLinks.js"></script>
    {{#if bitriksChat}}
      <script>
            (function(w,d,u){
                    var s=d.createElement('script');s.async=true;s.src=u+'?'+(Date.now()/60000|0);
                    var h=d.getElementsByTagName('script')[0];h.parentNode.insertBefore(s,h);
            })(window,document,'http://95.53.244.36/upload/crm/site_button/loader_1_xaom4n.js');
      </script>
    {{/if}}
  </body>
</html>