<div class="container">
    <header class="padding-site">
        <nav class="main-nav">
            <ul class="main-nav__list">
                <li><a href="/" class="main-nav__link">Главная</a></li>
                <li><a href="/signin" class="main-nav__link">Войти</a></li>
                <li><a href="/about" class="main-nav__link">О компании</a></li>
                <li><a href="/contacts" class="main-nav__link">Контакты</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <table>
            <thead>
                <tr>
                    <th>Название ТС</th>
                    <th>Группа ТС</th>
                    <th>Дата</th>
                    <th>Пробег</th>
                    <th>Пробег с превышением</th>
                    <th>Время работы на холостых</th>
                    <th>Время работы на предельных</th>
                    <th>Расход всего</th>
                    <th>Норма расхода на час</th>
                    <th>Норма расхода на 100 км</th>
                    <th>Время работы доп. оборудования</th>
                    <th>Расход при работе доп. оборудования</th>
                </tr>
            </thead>
            <tbody>
                {{#each rows}}
                <tr>
                    <td>
                        {{this.vehicleName}}
                    </td>
                    <td>
                        {{this.group}}
                    </td>
                    <td>
                        {{this.date}}
                    </td>
                    <td>
                        {{this.mileage}}
                    </td>
                    <td>
                        {{this.mileageSpeeding}}
                    </td>
                    <td>
                        {{this.idlingRPM}}
                    </td>
                    <td>
                        {{this.excessRPM}}
                    </td>
                    <td>
                        {{this.fuelConsumption}}
                    </td>
                    <td>
                        {{this.dutyConsumptionMH}}
                    </td>
                    <td>
                        {{this.dutyConsumption100}}
                    </td>
                    {{#each this.uniDataList}}
                        <td>
                            {{this.univInputOnTime}}
                        </td>
                        <td>
                            {{this.univInputOnConsumption}}
                        </td>
                    {{/each}}
                </tr>
                {{/each}}
            </tbody>
        </table>
    </main>
</div>