<div class="container">
    <header class="padding-site">
        <nav class="main-nav">
            <ul class="main-nav__list">
                <li><a href="/" class="main-nav__link">Главная</a></li>
                <li><a href="/signin" class="main-nav__link">Войти</a></li>
                <li><a href="/about" class="main-nav__link">О компании</a></li>
                <li><a href="/contacts" class="main-nav__link">Контакты</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <table>
            <thead>
                <tr>
                    <th>Название ТС</th>
                    <th>Группа ТС</th>
                    <th>Дата</th>
                    <th>Пробег</th>
                    <th>Время работы на холостых</th>
                    <th>Время работы на предельных</th>
                    <th>Расход всего</th>
                    <th>Расход всего</th>
                    <th>Норма расхода на час</th>
                    <th>Норма расхода на 100</th>
                    <th>Время работы доп. оборудования</th>
                    <th>Расход при работе доп. оборудования</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{name}}</td>
                    <td>что-то ещё</td>
                    <td>и ещё</td>
                    <td>{{mileage}}</td>
                    <td>пока пусто</td>
                    <td>{{idlingRPM}}</td>
                    <td>{{excessRPM}}</td>
                    <td>{{fuelConsumption}}</td>
                    <td>{{dutyConsumptionMH}}</td>
                    <td>{{mileageSpeeding}}</td>
                    <td>{{univInputOnTime}}</td>
                    <td>это ещё не получили</td>
                </tr>
                
            </tbody>
        </table>
    </main>
</div>